.changePin-container{
    margin-left: 7vw;
    margin-right: 7vw;
    height: 77vh;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}    

.changePin-container h1{
    font-size: 2.3rem;
    margin-bottom: 20px;
}    