.fullstatement-container {
    /* margin-left: 7vw;
    margin-right: 7vw;
    height: 77vh;
    padding: 20px; */

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.ministatement-home-button{
  margin-top: 80px;
  margin-left: 310px;
}
