.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.home-container button {
    /* margin-top: 35px; */
    margin-left: 0rem;
    /* text-align: center; */
    margin-bottom: 10px;
    /* width: 100%; */
    width: 270px;
    padding: 10px;
    border: 1px solid #29cb00;
    background: #29cb00;
    color: white;
    border-radius: 5px;
    transition: all ease 500ms;
}

.home-container button:hover {
    cursor: pointer;
    color: #29cb00;
    background: none; 
}
