.login-container{
    /* margin-left: 7vw;
    margin-right: 7vw;
    height: 77vh; */
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-input-field {
    margin-bottom: 20px;
}

.login-input-field label{
    display: block;
    margin-bottom: 5px;
    /* color: #555; */
}

.login-input-field input{
    width: 100%;
    max-width: 360px;
    padding: 10px;
    border: 1px solid #29cb00;
    background: transparent;
    color: #29cb00;
    border-radius: 5px;
}

.login-submit-button button{
    /* margin-top: 35px; */
    /* margin-left: 3.4rem; */
    /* text-align: center; */
    margin-bottom: 10px;
    /* width: 100%; */
    /* width: 250px; */
    width: 360px;
    padding: 10px;
    border: 1px solid #29cb00;
    background: #29cb00;
    color: white;
    border-radius: 5px;
    transition: all ease 500ms;
}

.login-submit-button button:hover {
    background: #5bff32;
    cursor: pointer;
}
