.withdraw-container {
  /* margin-left: 7vw;
    margin-right: 7vw;
    height: 77vh; */
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* gap: 15rem; */
}

.withdraw-input-field {
  margin-bottom: 20px;
}

.withdraw-input-field label {
  display: block;
  margin-bottom: 5px;
  /* color: #555; */
}

.withdraw-input-field input {
  width: 100%;
  width: 360px;
  padding: 10px;
  border: 1px solid #29cb00;
  background: transparent;
  color: #29cb00;
  border-radius: 5px;
  margin-bottom: 10px;
}

.withdraw-submit-button button{
    /* margin-top: 35px; */
    margin-left: 0rem;
    /* text-align: center; */
    margin-bottom: 10px;
    /* width: 100%; */
    width: 360px;
    padding: 10px;
    border: 1px solid #29cb00;
    background: #29cb00;
    color: white;
    border-radius: 5px;
    transition: all ease 500ms;
}

.withdraw-submit-button button:hover {
    cursor: pointer;
    color: #29cb00;
    background: none;
}
